<!DOCTYPE html>

<html>
<!-- html to be used through every page on the site ie the header and footer -->

    <head lang="en">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- BOOTSRAP CSS CDN -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

        <!-- LOCAL CSS FILES -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='python_game.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='citi.css') }}">

        <!-- BOOTSTRAP ICONS CDN -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

        <!-- DEVICON ICONS CDN -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css">

        <!-- JQUERY CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- BOOTSTRAP JS CDN -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

        <!-- JAVASCRIPT -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>

        <!-- SLICK -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick-theme.css') }}"/>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>


        {% if title %}
        <title>{{title}} - Darby Edwards</title>
        {% else %}
        <title>Darby Edwards</title>
        {% endif %}
    </head>
    <body>
        <!-- HEADER -->
        <div class="header">
            <div class="header-left">
                <div class="title" onclick="menu()">
                    <a href="#" class="menu"><i class="bi bi-caret-down-fill"></i></a>
                    <h3><a href="#"></a>Darby Edwards</a></h3>
                </div>
                {% if home != 1 %}
                    <p><a href='{{ url_for("index", home=1) }}'>Home</a></p>
                {% else %}
                    <p onclick="find('projects')"><a href="#">Projects</a></p>
                    <p onclick="find('interests')"><a href="#">Interests</a></p>
                    <p onclick="find('skills')"><a href="#">Skills</a></p>
                    <p onclick="find('contact')"><a href="#">Contact</a></p>
                {% endif %}
            </div>
            <div class="header-middle">
            </div>

            <div class="header-right">
                <a href="https://www.linkedin.com/in/darby-edwards-17bb1917b"> <i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/sirdedz/"> <i class="bi bi-github"></i></a>
                <a href="mailto:darbyedwards1@gmail.com"><i class="bi bi-envelope-fill"></i></a>
            </div>
        </div>

        <!-- CONTENT -->
        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <!-- AUTO SCROLLER -->
        <div id="totop" onclick="toTop()"><i class="bi bi-chevron-double-up"></i></div>

        <!-- FOOTER -->
        <div class="footer">
            <p>My personal webpage. </p>
            <p>Full front & backend by Darby Edwards, 2021.</p>
        </div>
    </body>
</html>
