<!-- CITIBANK GLOBAL MARKETS CHALLENGE PAGE -->
<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <div class="citi">
        <div id="citi-content">
            <h3 id="citi-title">
                Citibank Global Markets Challenge
            </h3>

            <div id="citi-summary">
                <p>
                    The Citibank Global Markets Challenge is an annual week-long, competitive challenge for students in first or second 
                    year of university. The aim of the challenge is to construct a portfolio of assets which caters to the requirements given 
                    by Citibank and deliver a presentation outlining the reasons behind your group's decisions and the research you have done.
                </p>
                <p>
                    I teamed up with three other first year economics or finance students from UWA to form the "Perth Power Brokers". Citibank 
                    then gave us the brief, which was to create an asset portfolio consisting of cash, equity, commodity, fixed income and foreign
                    exchange assets with minimal risk over a six-month time horizon whilst also providing strong long term gains. We were given 
                    one week to complete the project and present our finished presentation.
                </p>
                <p>
                    We split tasks into more managable chunks and assigned each member a specialty before beginning our research, with the one week deadline 
                    pushed us to ensuring our sources were only the most reliable.
                </p>
                <p>
                    With the project beginning just after the global market crash due to COVID-19 we were operating during tumultuous times 
                    and had to look at assets through a vastly different lens than during more normal times. With this in mind we began looking 
                    for assets which we believed fell in value by a greater extent than was appropriate, due to fear or other factors, or for 
                    assets which we believed would make a quick rebound due to limited structural issues caused by COVID-19 in their markets. 
                    On the contrary, we also began looking for assets which did have major structural issues or hadn't experienced the crash 
                    to the extend we believed they should so that we could take a short position on these. An example of this is our short position 
                    on the oil market as we believed a major fall in demand for oil would be realised in the coming months as lockdowns began to take 
                    shape. Despite its controversy at the time, this proved to be one of our most successful positions as the price of oil fell below zero soon after.
                </p>
                <p>
                    In hindsight our portfolio performed excellently, with huge overall gains for the six month period and so we were able to produce 
                    a presentation which we could all stand behind as a group and presented to Citibank, managing to 
                    progress through to the campus finals.
                </p>
                <p>
                    You can see our final presentation, including our positions, on the reader below.
                </p>
            </div>
        </div>

        <div id="citi-pdf">
            <iframe id="pdfviewer-mobile" src="https://drive.google.com/file/d/1t195Wnsa5KgrD_X_UcC0SVN_uzjAHsM_/preview" allow="autoplay"></iframe>
        </div>

        <br>
        <hr>

        <div id="citi-team-members">
            <h5>Team Members</h5>
            <table>
                <tr>
                    <td>
                        <img class="teampic" src="{{ url_for('static', filename='Assets/temp_user.png') }}" alt="Picture" onload="imageSize()">
                    </td>
                    <td>
                        Darby Edwards
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="teampic" src="{{ url_for('static', filename='Assets/temp_user.png') }}" alt="Picture" onload="imageSize()">
                    </td>
                    <td>
                        Jack Joyce
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="teampic" src="{{ url_for('static', filename='Assets/temp_user.png') }}" alt="Picture" onload="imageSize()">
                    </td>
                    <td>
                        Samuel Kent
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="teampic" src="{{ url_for('static', filename='Assets/temp_user.png') }}" alt="Picture" onload="imageSize()">
                    </td>
                    <td>
                        Jack Birch
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}